$light: #F0F0F0;
$dark: #404040;

html{
  background: $light;
}

.weather-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60vw;
  border-radius: 8px;
  box-shadow: 10px -2px 20px 2px rgb(240 240 240 / 30%);
  color: $light;
  background-color: $dark;
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}

@media (prefers-color-scheme: dark){
  html{
    background-color: $dark;
  }

  .weather-card{
    box-shadow: 10px -2px 20px 2px rgb(255 255 255 / 30%);
    color: $dark;
    background-color: $light;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, 1fr));
  gap: 5px;
  width: 100%;
}

.oneline {
  /*box1: 열1 ~ 열4까지 차지하도록 설정*/
  grid-column: 1 / 5;
}

.half-one{
  /*box5: 열2 ~ 열4까지 차지하도록 설정*/
  grid-column: 3 / 5; 
}

.half-two {
  /*box2: 행2 ~ 행4까지 차지하도록 설정*/
  grid-row: 2 / 4;
  grid-column: 1 / 3;
}

.box4 {
  /*box6: 열1 ~ 열3까지 차지하도록 설정*/
  grid-column: 1 / 3;
}

.card1 {
  /*box7: 열1 ~ 열4까지 차지하도록 설정*/
  grid-column: 1 / 3;
}
.card2 {
  /*box7: 열1 ~ 열4까지 차지하도록 설정*/
  grid-column: 3 / 5;
  }

@media (max-width: 600px){
  .container{
    display: block;
  }
}