$light: #F0F0F0;
$dark: #404040;

html{
  background: $light;
  h2{
    font-size: 2.5rem;
    margin: 0;
  }
  h3{
    font-size: 1.5em;
    margin: 0;
  }
  h4{
    font-size: 1.2rem;
    margin: 0;
  }
}

.weather-card {
  max-width: 500px;
  min-width: 220px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60vw;
  border-radius: 8px;
  box-shadow: 10px -2px 20px 2px rgb(240 240 240 / 30%);
  color: $light;
  background-color: $dark;
  padding: 10px 20px;
}

@media (prefers-color-scheme: dark){
  html{
    background-color: $dark;
  }

  .weather-card{
    box-shadow: 10px -2px 20px 2px rgb(15 15 15 / 30%);
    color: $dark;
    background-color: $light;
  }
}

.middle {
  vertical-align: middle;
  width: 40%;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, 1fr));
  width: 100%;
}

.oneline {
  grid-column: 1 / 5;
  display: flex;
  gap: 10px;
span{
  font-weight: bold;
}
}

.half-one{
  grid-column: 3 / 5; 
}

.half-two {
  grid-row: 2 / 4;
  grid-column: 1 / 3;
}

.box4 {
  grid-column: 1 / 3;
}

.quarter1 {
  grid-column: 1 / 3;
}
.quarter3 {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15px;

  .icon{
    width: 40vw;
  }
  }

@media (max-width: 600px){
  .container{
    display: block;
  }
}